[Unit]
Description=Zookeeper Server
After=network.target

[Service]
Type=forking
PIDFile=/var/run/zookeeper/zookeeper_server.pid
ExecStart=/usr/bin/zookeeper-server start
ExecReload=/usr/bin/zookeeper-server restart
ExecStop=/usr/bin/zookeeper-server stop
Restart=always
KillMode=process

[Install]
WantedBy=multi-user.target
