version: '3'
services:
  consul:
    command: agent -server -bootstrap-expect=1 -ui
    container_name: consul-1.2.2
    environment: {CONSUL_LOCAL_CONFIG: '{ "datacenter": "aone", "data_dir": "/consul/data",
        "log_level": "INFO", "server": true, "bind_addr":"{{ consul_host }}", "addresses":
        { "https": "{{ consul_host }}", "http": "{{ consul_host }}" }, "ports": { "http": 8500,
        "dns":8600, "server":8300, "serf_lan":8301, "serf_wan":8302 }, "leave_on_terminate":true
        }'}
    image: harbor.dev.aone.ai/aone/consul:1.2.2
    network_mode: host
    restart: always
    volumes: ['/etc/localtime:/etc/localtime:ro']
  es-sql-engine:
    container_name: es-sql-engine-{{ version }}
    image: harbor.dev.aone.ai/aone/es-sql-engine:{{ version }}-qa
    ports: ['8900:8900']
    restart: always
    volumes: ['{{ mdp_config_directory }}/es-sql-engine/bootstrap.yml:/bootstrap.yml',
      '{{ container_logs_directory }}/es-sql-engine:/var/log/es-sql-engine',
      '{{ mdp_config_directory }}/es-sql-engine/application-analyze.properties:/application-analyze.properties',
      '/etc/localtime:/etc/localtime:ro']
  executors:
    container_name: executors-{{ version }}
    image: harbor.dev.aone.ai/aone/executors:{{ version }}-qa
    network_mode: host
    restart: always
    volumes: ['{{ mdp_config_directory }}/nginx/html:/usr/share/nginx/html', '{{ mdp_config_directory }}/executor/bootstrap.yml:/bootstrap.yml',
      '{{ mdp_config_directory }}/executor/log4j2.xml:/log4j2.xml', '{{ mdp_config_directory }}/executor/bootstrap-sw.yml:/bootstrap-sw.yml',
      '/etc/localtime:/etc/localtime:ro', '{{ container_logs_directory }}:/logs']
  fe-mdp:
    container_name: fe-mdp-{{ version }}
    image: harbor.dev.aone.ai/aone/fe-mdp:{{ version }}.6-qa
    network_mode: host
    restart: always
    volumes: ['{{ mdp_config_directory }}/nginx/html/report:/usr/share/nginx/html/report',
      '{{ mdp_config_directory }}/nginx/conf.d/dip.conf:/etc/nginx/conf.d/dip.conf',
      '/etc/localtime:/etc/localtime:ro']

  galaxy:
    container_name: galaxy-{{ version }}
    image: harbor.dev.aone.ai/aone/galaxy:{{ version }}-qa
    network_mode: host
    restart: always
    volumes: ['{{ mdp_config_directory }}/galaxy/bootstrap.yml:/bootstrap.yml', '{{ mdp_config_directory }}/galaxy/log4j2.xml:/log4j2.xml',
      '{{ mdp_config_directory }}/galaxy/bootstrap-sw.yml:/bootstrap-sw.yml', '/etc/localtime:/etc/localtime:ro',
      '{{ container_logs_directory }}:/logs']
  gateway:
    container_name: gateway-{{ version }}
    image: harbor.dev.aone.ai/aone/gateway:{{ version }}-qa
    network_mode: host
    restart: always
    volumes: ['{{ mdp_config_directory }}/gateway/bootstrap.yml:/bootstrap.yml', '{{ mdp_config_directory }}/gateway/log4j2.xml:/log4j2.xml',
      '{{ mdp_config_directory }}/gateway/bootstrap-sw.yml:/bootstrap-sw.yml', '/etc/localtime:/etc/localtime:ro',
      '{{ container_logs_directory }}:/logs']
  mysql:
    container_name: mysql-5.7
    environment: {MYSQL_ROOT_PASSWORD: Collect%2017}
    image: harbor.dev.aone.ai/aone/mysql:5.7
    network_mode: host
    restart: always
    volumes: ['{{ mysql_container_volume_dir }}:/var/lib/mysql', '/etc/localtime:/etc/localtime:ro', '{{ mdp_config_directory }}/mysql/my.cnf:/etc/mysql/my.cnf']
  nodereport:
    container_name: nodereport-{{ version }}
    image: harbor.dev.aone.ai/aone/nodereport:{{ version }}-qa
    network_mode: host
    restart: always
    volumes: ['{{ mdp_config_directory }}/nginx/html:/usr/share/nginx/html',
      '{{ mdp_config_directory }}/nodereport/nodeport.json:/var/www/app/current/nodeport.json',
      '/etc/localtime:/etc/localtime:ro']
  rbac:
    container_name: rbac-{{ version }}
    image: harbor.dev.aone.ai/aone/rbac:{{ version }}-qa
    network_mode: host
    restart: always
    volumes: ['{{ mdp_config_directory }}/rbac/bootstrap.yml:/bootstrap.yml', '{{ mdp_config_directory }}/rbac/log4j2.xml:/log4j2.xml',
      '{{ mdp_config_directory }}/rbac/bootstrap-sw.yml:/bootstrap-sw.yml', '/etc/localtime:/etc/localtime:ro',
      '{{ container_logs_directory }}:/logs']
  scheduler:
    container_name: scheduler-{{ version }}
    image: harbor.dev.aone.ai/aone/scheduler:{{ version }}-qa
    ports: ['8889:8889']
    restart: always
    volumes: ['{{ mdp_config_directory }}/scheduler/bootstrap.yml:/bootstrap.yml', '{{ mdp_config_directory }}/scheduler/log4j2.xml:/log4j2.xml',
      '{{ mdp_config_directory }}/scheduler/bootstrap-sw.yml:/bootstrap-sw.yml', '/etc/localtime:/etc/localtime:ro',
      '{{ container_logs_directory }}:/logs']
  summer:
    container_name: summer-{{ version }}
    image: harbor.dev.aone.ai/aone/summer:{{ version }}-qa
    network_mode: host
    restart: always
    volumes: ['{{ mdp_config_directory }}/summer/bootstrap.yml:/bootstrap.yml', '{{ mdp_config_directory }}/summer/log4j2.xml:/log4j2.xml',
      '{{ mdp_config_directory }}/summer/bootstrap-sw.yml:/bootstrap-sw.yml', '/etc/localtime:/etc/localtime:ro',
      '{{ container_logs_directory }}:/logs']
