server {
    server_name _;
    listen  8001;

    error_page 401 @sorry;
    location @sorry {
        return 401 "Unauthorized";
    }

    location / {
        root /usr/share/nginx/html/dip;
        error_page 404 =200 /;
    }


    location /gw/ {
        proxy_pass http://{{ gateway_host }}:{{ gateway_port }}/;
    }

    location /report/ {
        proxy_pass http://{{ gateway_host }}/report/;
    }

}
