# elasticsearch connection properties
{% for esconf in apl['elasticsearch_configuration'] %}
analyze.es.node[{{ loop.index0 }}].host={{ esconf['ip'] }}
analyze.es.node[{{ loop.index0 }}].port={{ esconf['port'] }}
analyze.es.node[{{ loop.index0 }}].rest={{ esconf['restport'] }}
{% endfor %}

analyze.spark.master=local
analyze.spark.appname=es sql engine
analyze.spark.conf[0].key=spark.shuffle.memoryFraction
analyze.spark.conf[0].value=0.5
analyze.spark.conf[1].key=spark.shuffle.compress
analyze.spark.conf[1].value=true
analyze.spark.conf[2].key=spark.io.compression.codec
analyze.spark.conf[2].value=snappy
analyze.spark.conf[3].key=spark.yarn.executor.memoryOverhead
analyze.spark.conf[3].value=2000M
analyze.spark.conf[4].key=spark.sql.shuffle.partitions
analyze.spark.conf[4].value=1
